@font-face {
  font-family: "Jost";
  src: url(../vendor/fonts/Jost-Regular.woff) format("woff"),
       url(../vendor/fonts/Jost-Regular.woff2) format("woff2");
  font-weight: 400;  
}

@font-face {
  font-family: "Jost";
  src: url(../vendor/fonts/Jost-SemiBold.woff) format("woff"),
       url(../vendor/fonts/Jost-SemiBold.woff2) format("woff2");
  font-weight: 600;  
}