.header {
  border-bottom: 1px solid rgb(216, 216, 216, 0.1);
  color: rgb(256, 256, 256, .6);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  padding-right: 45px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #2B2C3A;;
}

.header__container {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 280px);
}
  
.header__navigation-list {
  border-right: 1px solid rgb(216, 216, 216, .1);
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin-left: 16px;
}

.header__navigation-list-item {
  margin-right: 28px;
}

.header__navigation-list-item:nth-child(2) {
  margin-right: 23px;
}

.header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__link {
  text-decoration: none;
  color:rgb(256, 256, 256, .6)
}
  