.mailing {
  position: absolute;
  bottom: 36px;
  left: 30px;
}

.mailing__label:hover {
	cursor: pointer;
}
  
.mailing__label {
  font-size: 14px;
  color: #fff;
  opacity: .5;
	position: relative;
	line-height: 22px;
}

.mailing__label::after {
	content: "";
	height: 22px;
	width: 42px;
	border: 1px solid rgba(255, 255, 255, .2);
	border-radius: 15px;
	position: absolute;
	top: -1px;
	right: -102px;
	box-sizing: border-box;
}

.mailing__label::before {
	content: "";
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #6F6EFF;
	position: absolute;
	right: -99px;
	top: 2px;
	box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
	transition: .2s;
}
  
.mailing__switch {
	display: none;
}

.mailing__switch:checked + .mailing__label::before {
	right: -80px;
}